body {
  font-family: sans-serif;
}

.tree {
  padding-left: 1rem;
  border-left: 1px solid salmon;
}

.folder {
  padding: 1rem;
  border-left: 1px solid aqua;
  text-decoration: underline;
  cursor: pointer;
}

.file {
  padding: 1rem;
  font-style: italic;
}

.hidden {
  display: none;
}
